/* general */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    color: rgb(42, 41, 41);
} 

h1 {font-size: 3em;

}

header, main, footer{
    padding: 20px;
}

/* utilities */

.highlight {
    background-color: #FFFF00;
}

/* header */
header {

    background-color:#4EA0FF;
    background-image: url(../img/pattern.png);
    background-size: 35%;
}

#logo {
    height: 100px;
}

#logo img{
    height: 100px;
}

/* testi */

.text-blue{ 
    color: #20A9E5;

}

.text-white{
    color: #ffffff;
}

.text-grey{
    color: #818181;
}

/* spaziature*/
.p-10{
    padding: 10px;
}

article p, article table, article ul {
    padding: 10px 0px;
}